### use # to comment out the configure item

word_feature_extractor=CNN
use_crf=True
use_char=True
use_idcnn=False
use_bilstm=False
word_emb_dim=256
word_hidden_dim=512
char_emb_dim=32
char_hidden_dim=64
cnn_layer=4
cnn_kernel=3
batch_size=32
dropout=0.5
word_dropout=0.05

# number_normalized=True
#nbest=1
# optimizer=adam
# iteration=100