### use # to comment out the configure item
word_feature_extractor=CNN
use_crf=True
use_char=True
use_idcnn=False
use_sepcnn=False
use_sepcnn_rc=False
use_bilstm=False
use_batchnorm=True
word_emb_dim=256
word_hidden_dim=512
char_emb_dim=32
char_hidden_dim=64
cnn_layer=2
cnn_kernel=3
dropout=0.7
word_dropout=0.2
